<div>
  <h1 align="center">
    Back4App Angular Quickstart!
  </h1>

  <div class="container">
    <form class="form-signup">
      <h2 class="form-signup-heading">Please sign up</h2>
      <input type="text" class="form-control" placeholder="Email address" required
             autoFocus/>
      <input type="password" class="form-control" placeholder="Password" required/>
      <label class="checkbox">
        <input type="checkbox" value="remember-me"/>
        &nbsp; Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>

</div>